.App {
}
.flagsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: aquamarine;
  margin: 20px;
  border-radius: 50px;

}
.firstRow {
}
.flag {
  width: 100px;
}
.buttonCount {
  display: flex;
  justify-content: center;
}
.player {
  display: flex;
  justify-content: space-around;
}
.took {
  display: flex;
  justify-content: center;
}
button {
  width: 100px;
  height: 50px;
  margin: 20px;
  background-color: aquamarine;
  border-radius: 50px;
  border-width: 1px;
}
